/* SETTINGS PAGE */

.settingsBackground {
  /* Previous (można zmienić)
  display: flex;
  height: 100vh;
  width: 100%;
  */
  display: flex;
  width: 100%;
}

.settingsContainer {
  max-width: 800px;
  margin: 0 auto;
}