/* MAIN PAGE */

.App {
  text-align: center;
  background-color: #1e1e2f;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blockLogin{
  background-color: #1e1e2f;
  height: 100%;
  width: 100%;
  display:flex;
  align-content: space-between;
}

.loginLeft, .loginRight{
  width: 50%;
  color: white;
}

.loginLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRight{
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logRegGoToBtn{
  width: 40%;
  height: calc(width * 0.2);
  background-color: #0083ac;
  display: block;
  margin: 10px;
  text-decoration: none;
  color: white;
}

.keyFeatures{
  width: 100%;
  background-color: #1e1e2f;
  text-align: left;
  color: white;
}

.kf{
  padding-left: 10%;
}

.keyFeaturesBlocks{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.keyFeaturesBlock1, .keyFeaturesBlock2, .keyFeaturesBlock3{
  width: 30%;
  height: 100px;
  text-align: center;
}

.keyFeaturesBlock1{
  background-color: #66758c;
}

.keyFeaturesBlock2{
  background-color: #2477c6;
}

.keyFeaturesBlock3{
  background-color: #4a90e2;
}

.userPanel{
  display: flex;
  width: 100%;
  background-color: white;
  height: 90px;
  color: #7f8fa6;
  text-align: left;
  padding-left: 10%;

  align-items: center;
}

.userPanelBlocks{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.userPanelBlockLeft, .userPanelBlockRight{
  width: 50%;
  color: white;
  text-align: left;
}

.userPanelBlockRight{
  text-align: center;
}

.userJourney{
  color: white;
  display: flex;
  flex-direction: column;
}

.userJourneyBlocks{
  display: flex;
  justify-content: space-around;
}

.userJourneyBlock{
  background-color: #2477c6;
}

.wrkAnaOV{
  display: flex;
  width: 100%;
  background-color: white;
  height: 90px;
  color: #7f8fa6;
  text-align: left;
  padding-left: 10%;
  align-items: center;
}

.WAOh2{
  width: 25%;
}

.WAOBlocks{
  display: flex;
  color: white;
}

.WAOBlockLeft, .WAOBlockRight{
  width: 50%;
  align-content: center;
}

.WAOBlockRight{
  text-align: left;
}

.nsBlocks{
  display: flex;
  color: white;
}

.nsBlockLeft{
  width: 35%;
}

.nsBlockRight{
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.nsBlockRightBlock{
  width: 40%;
  background-color: #f5f7fa;
  color: grey;
  height: 100px;
  margin: 10px;
}

.contactBlock{
  display: flex;
  color: white;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.contactDetailsBlocks{
  background-color: #2477c6;
}

.contactDetailsBlock{
  background-color: #2477c6;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
}

.contactDetailsBlock p{
  margin-left: 10px;
}

/* LOGIN PAGE */

.loginBackground{
  width:100%;
  height:100vh;
  background-color: #1e1e2f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logoLink{
  text-decoration: none;
  display: inline-block;
}

.logoLink:focus,
.logoLink:visited,
.logoLink:hover {
  text-decoration: none;
  color: inherit;
}

.loginLogo {
  margin: 0;
  color: white;
  font-size: 2rem;
  padding: 5px;
  margin-bottom: 5px;
}

.loginBox{

  width:50%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border-color: #66758c;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.loginForm{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.loginForm label {
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 5px;
 }


.loginForm input{
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  border-radius: 5px;
  padding: 5px;
  cursor: text;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color .25s ease;
}

.loginForm input:focus {
  box-shadow: 0 0 10px #66758c;
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

.loginForm input::placeholder{
  color: grey;
  opacity: 1;
}

.loginForm label {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 0;
}

.logRegGoToBtn {
  width: 70%;
  height: calc(width * 0.3);
  background-color: #000000;
  display: block;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  color: white;
}

/* DASHBOARD PAGE */

.dashboardBackground{
  display: flex;
  height: 100vh;
  width: 100%;
}

.dashboardNavbar{
  background-color: #0083ac;
  height: 100vh;
  width:15%;
}

.dashboardContent{
  background-color: #66758c;
  height: 100vh;
  width: 85%;
}
