html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root { height: 100%; }
/* use primary variables for page background and text */
body { margin:0; background:var(--bg-primary); color:var(--text-primary); }

/* dark theme */

:root[data-theme="dark"] {
  /* bgs */
  --bg-primary: #060816;         /* landing, login  */
  --bg-secondary: #0b1020;       /* navbar / header */
  --bg-tertiary: #151a2c;        /* sections */
  --bg-card: #1d2338;            /* landing / featureCard cards */
  --bg-card-neutral: #171c2b;    /* neutral cards */
  --bg-card-dashboard: #171d30;  /* dashboard cards */

  /* text */
  --text-primary: #f9fafb;       /* main text */
  --text-secondary: #c7d2fe;     /* descriptions, subtitles */
  --text-muted: #9ca3af;         /* minor descriptions */
  --text-inverse: #020617;       /* text on light buttons */
  --text-card: #e5e7eb;

  /* accents/btns */
  --accent-color: #4f46e5;       /* icons, underlines */
  --btn-primary-bg: #4f46e5;     /* main button (e.g. +, login) */
  --btn-primary-text: #ffffff;

  --link-color: #e5e7eb;
  --link-hover: #a5b4fc;

  /* borders/shadows */
  --border-subtle: rgba(148, 163, 184, 0.35);

  --card-shadow: 0 16px 40px rgba(15, 23, 42, 0.55);
  --card-shadow-hover: 0 18px 50px rgba(59, 130, 246, 0.45);

  /* hover */
  --bg-hover: #111827;
}

/* LIGHT THEME */
:root[data-theme="light"] {
  --bg-primary: #f5f5f5;
  --bg-secondary: #ffffff;
  --bg-tertiary: #e5ecff;
  --bg-card: #2563eb;
  --bg-card-neutral: #ffffff;
  --bg-card-dashboard: #fcfcfc; /* dashboard cards */

  --text-primary: #111827;
  --text-secondary: #052944;
  --text-muted: #6b7280; 
  --text-inverse: #f9fafb;
  --text-card: #cfe2e2;

  --btn-primary-bg: #081b44;
  --btn-primary-text: #ffffff;

  --link-color: #081b44;
  --link-hover: #1d4ed8;

  --border-subtle: rgba(4, 9, 22, 0.2);

  --bg-hover: #f3f4f6;
}

/* fallback (no data-theme) */
:root {
  --bg-primary: #f5f5f5;
  --bg-secondary: #ffffff;
  --bg-tertiary: #e5ecff;
  --bg-card: #2563eb;
  --bg-card-neutral: #ffffff;
  --bg-card-dashboard: #fcfcfc; /* dashboard cards */

  --text-primary: #111827;
  --text-secondary: #052944;
  --text-muted: #6b7280; 
  --text-inverse: #f9fafb;
  --text-card: #cfe2e2;

  --btn-primary-bg: #081b44;
  --btn-primary-text: #ffffff;

  --link-color: #081b44;
  --link-hover: #1d4ed8;

  --border-subtle: rgba(4, 9, 22, 0.2);

  --bg-hover: #f3f4f6;
}